html{
    scroll-behavior: smooth;
    text-align: center;
}
body{
    opacity: 0.93;
    background: linear-gradient(#3fb8fb 0%,#46f5fc 100%)
}
.fiimg{
padding: 20px;
border-radius:50px;
height:500px;
width:200px;
}
.image-section{
    font-family:sans-serif;
    font-size:20px;
    color: darkblue;
}
